.contact-form input,
  .contact-form textarea {
    background: transparent;
    transition: all 0.3s ease;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    box-shadow: none;
    border-color: #3a7bd5 !important;
  }
  
  .contact-info h4 {
    color: #3a7bd5;
  }
  
  .contact-section {
    background-color: #f8fafc;
  }

.btn-primary {
  background-color: #00bfff !important;
  border-color: #00bfff;
}