<header class="bg-light py-5">
  <div class="container text-center">
    <h1 class="display-4 fw-bold">Our Spaces</h1>
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
  </div>
</header>
  <ul class="nav nav-tabs mb-1 mt-4 m-5">
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="selectedType === null"
      (click)="filterByType(null)">
      All
    </a>
  </li>
  @for(type of spaceTypes; track $index){
    <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="selectedType === type"
      (click)="filterByType(type)">
      {{ type }}
    </a>
  </li>
  }
</ul>
<div class="container">

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mt-1">
    @for (space of filteredSpaces; track $index) {
      <div class="col">
        <div class="card h-100 shadow-sm">
          <img [src]="space.galleries?.[0]?.imageUrl" class="card-img-top" alt="space image">
          <div class="card-body">
            <h5 class="card-title">{{ space.name }}</h5>
            <p class="card-text"><strong>Capacity:</strong> {{ space.capacity }}</p>
            <p class="card-text"><strong>Type:</strong> {{ SpaceType[space.spaceType] }}</p>
            <p class="card-text"><strong>Price:</strong> {{ space.pricePerHour | currency }}</p>
          </div>
          <div class="card-footer bg-white border-top-0">
            <button class="btn btn-outline-primary w-100 custom-button" [routerLink]="[`${space.id}`]">View Details</button>
          </div>
        </div>
      </div>
    }
  </div>
</div>
