.edit {
    border: none;
    outline: none;
    padding: 8px 25px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transform: .3s ease;
    background-color: #00bfff;
}

.edit:hover {
    background-color: #00bfff96;
}

.icons a {
    font-size: xx-large;
    padding: 8px;
    color: black;
}

.icons a:hover {
    color: #00bfff;
}

.membership-details {
  border-radius: 8px;
  padding: 12px;
  margin-top: 16px;
  font-size: 19px;
  transition: all 0.3s ease;
}

.membership-details summary {
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  color: #00bfff;
  margin-bottom: 10px;
}

.membership-details summary:hover {
  text-decoration: underline;
}

.membership-details p {
  margin: 8px 0 0 12px;
  padding-left: 5px;
  border-left: 3px solid #00bfff;
  color: #333;
}
