<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img [src]="user.profileImg ? user.profileImg : 'default-user.jpg'" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-2">{{user.firstName}} {{user.lastName}}</h5>
            <p class="text-muted mb-3">{{user.email}}</p>
            <details class="membership-details">
              <summary>Membership</summary>
              @for (membership of user.membershipName; track $index) {
              <p>{{membership}}</p>
              }
            </details>
          </div>
          <div class="text-center icons mb-3">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.github.com/" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <h2 style="color: #00bfff;" class="mb-4">My Account</h2>
            <form [formGroup]="userData" (submit)="saveEdit()">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2">First Name</h6>
                </div>
                <div class="col-sm-9">
                  <input type="text" name="lname" class="form-control mb-0" value="{{user.firstName}}"
                    formControlName="firstName">
                  @if (getFName.hasError('minlength')) {
                  <div id="passwordHelpBlock" class="form-text text-danger">
                    First Name length must be greater than 3.
                  </div>
                  }
                </div>
              </div>

              <div class="row mb-4 mt-4">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2">Last Name</h6>
                </div>
                <div class="col-sm-9">
                  <input type="text" name="fname" class="form-control mb-0" value="{{user.lastName}}"
                    formControlName="lastName">
                  @if (getLName.hasError('minlength')) {
                  <div id="passwordHelpBlock" class="form-text text-danger">
                    Last Name length must be greater than 3.
                  </div>
                  }
                </div>
              </div>

              <div class="row mb-4 mt-4">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2">Email</h6>
                </div>
                <div class="col-sm-9">
                  <input type="email" name="email" class="form-control mb-0" value="{{user.email}}"
                    formControlName="email">
                  @if (getEmail.hasError('email')) {
                  <div id="passwordHelpBlock" class="form-text text-danger">
                    Please enter a valid email address.
                  </div>
                  }
                </div>
              </div>

              <div class="row mb-4 mt-4">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2">Phone</h6>
                </div>
                <div class="col-sm-9">
                  <input type="text" name="phone" class="form-control mb-0" value="{{user.phoneNumber}}"
                    formControlName="phoneNumber">
                  @if (getPhoneNumber.hasError('maxlength')) {
                  <div id="passwordHelpBlock" class="form-text text-danger">
                    Phone Number must be 11 number.
                  </div>
                  }
                </div>
              </div>

              <div class="row mb-4 mt-4">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2">Profile Image</h6>
                </div>
                <div class="col-sm-9">
                  <input type="file" name="profileimg" class="form-control mb-0" formControlName="img">
                </div>
              </div>

              <div class="row mb-4 mt-4">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2">Old Password</h6>
                </div>
                <div class="col-sm-9">
                  <input type="password" name="oldpass" class="form-control mb-0" formControlName="oldPassword">
                </div>
              </div>

              <div class="row mb-4 mt-4">
                <div class="col-sm-3">
                  <h6 class="mb-0 mt-2">New Password</h6>
                </div>
                <div class="col-sm-9">
                  <input type="password" name="newpass" class="form-control mb-0" formControlName="newPassword">
                </div>
              </div>
              <div class="mb-2">
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn edit">Save Edit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


