<form class="form" [formGroup]="userData" (submit)="loginOperation()">
    <p class="title">SIGN IN </p>

    <label>
        <input class="input" type="email" name="email" formControlName="email" placeholder="" required="">
        <span>Email</span>
    </label>
    @if (getEmail.touched) {
    @if (getEmail.hasError('required')) {
    <div id="passwordHelpBlock" class="form-text text-danger">
        Email Is Required.
    </div>
    } @if (getEmail.hasError('email')) {
    <div id="passwordHelpBlock" class="form-text text-danger">
        Please enter a valid email address.
    </div>
    } }

    <label>
        <input class="input" type="password" name="password" formControlName="password" placeholder="" required="">
        <span>Password</span>
    </label>
    @if (getPassword.touched) {
    @if (getPassword.hasError('required')) {
    <div id="passwordHelpBlock" class="form-text text-danger">
        Password Is Required.
    </div>
    } }

    <label>
        <input type="checkbox" class="m-2" formControlName="rememberMe">
        <span style="color:  #333; font-weight: 600;">Remember me</span>
    </label>

    <button class="submit" type="submit">Submit</button>
    <p class="signin">Don't have an account? <a [routerLink]="['/register']">Sign Up</a> </p>
</form>